<br />
 &nbsp<i>{{databaseTableSize}}<b>{{databaseTableSizeValue}}</b></i><br />
 &nbsp;<i>{{queriesExecuted}}<b>{{queriesExecutedValue}}</b></i><br />
 &nbsp;<i>{{queriesCached}}<b>{{queriesCachedValue}}</b></i><br />
 &nbsp;<i>{{rss2}}<b>{{rss2Url}}</b></i><br />
 &nbsp;<i>{{atom}}<b>{{atomUrl}}</b></i><br />
 &nbsp;<i>{{rss}}<b>{{rssUrl}}</b></i><br />
 &nbsp;<i>{{commentRss2}}<b>{{commentRss2Url}}</b></i><br />
 &nbsp;<i>{{commentAtom}}<b>{{commentAtomUrl}}</b></i><br />
 &nbsp;<i>{{processTime}}<b>{{timer}}</b>{{processTime2}}</i><br />
